/* Post's images styling */
@media (min-width: 768px) {
    .modal-xl {
        width: 35%;
        max-width: 1200px;
    }
}

#pc_label {
    background-image: url("../../static/css/img/camera-logo-hi.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0.12);
    cursor: pointer;
    border-radius: 4px;
    padding: 20px 20px;
    margin-left: inherit;
    margin-top: 40px;
    position: relative;
}

#pc_label:hover {
    background-color: #cecece;
}

#ig_link {
    margin-left: -80px;
    position: relative;
}

.customRadio {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
}

.customRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    margin-top: -120px;
    left: 270px;
    height: 25px;
    width: 25px;
    background-color: #f66868;
    border-radius: 50%;
}

.customRadio:hover input ~ .checkmark {
    background-color: rgba(251, 90, 91, 0.77);
}

.customRadio input:checked ~ .checkmark {
    background-color: #fb4b4c;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.customRadio input:checked ~ .checkmark:after {
    display: block;
}

.customRadio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* Feed styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

/* Post styling  */
.post {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    text-align: left;
    overflow-wrap: break-word;
}

.profileLink {
    color: black;
}

.profileLink:hover {
    color: black;
    text-decoration: none;
}

/* Comment styling */
.comment{
    display: inline-flex;
    max-width: 100%;
    border-radius: 0 1em 1em 1em;
    overflow-wrap: break-word;
}

.speech-bubble {
    position: relative;
    background: #E8E8E8;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #E8E8E8;
    border-left: 0;
    border-top: 0;
    margin-left: -10px;
}

.delCom:after {
    content: 'Delete';
}

.delCom:hover:after {
    content: 'Delete?';
    text-decoration: underline;
    cursor: pointer;
} 
