{% load static %}
{% load i18n static %}
{% load postman_tags %}
<!DOCTYPE html>

<head>
    <title>{% block title %}proximity{% endblock %} </title>
    
    <!-- Bootstrap4 Meta Tags and CSS+JS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />

    <!--Javascript-->
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    
    <!-- Google Material UI Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
    .material-icons {
        vertical-align: middle;
    }
    body {
        height:100vh;
        padding-top: 50px;
    }
    </style>

    {% block extrahead %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" style="height:50px;">
        {% if request.user.is_authenticated %}
        <div class="container-fluid">
            <a class="navbar-brand" href={% url 'home' %}>proximity</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href={% url 'user_home' %}>Home</a></li>
                <li class="nav-item dropdown">{% postman_unread as unread_count %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "Messages" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href={% url 'postman:inbox' %}>{% trans "Inbox" %}</a>
                        <a class="dropdown-item" href={% url 'postman:sent' %}>{% trans "Sent Messages" %}</a>
                        <a class="dropdown-item" href={% url 'postman:write' %}>{% trans "Write" %}</a>
                        <a class="dropdown-item" href={% url 'postman:archives' %}>{% trans "Archives" %}</a>
                        <a class="dropdown-item" href={% url 'postman:trash' %}>{% trans "Trash" %}</a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href={% url 'view_nearby' %}>Nearby</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'marketplace' %}">Marketplace</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'events' 0 %}">Events</a></li>
            </ul> 

            <ul class="navbar-nav ml-auto">
                <li>
                <a class="nav-link" href={% url 'notifications' %}>
                    <i class="material-icons" style="color:white">notifications</i>
                    {% load notif_badge_tags %}
                    {% show_new_notifications request.user.id %}
                </a>
                </li>
                <li class="nav-item mr-2"><a class="nav-link" href={% url 'account' %}>Account</a></li>
            </ul>
            
            <form class="form-inline my-2 my-lg-0 Logout-link" action="logout" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm" style="vertical-align:middle">Logout</button>
            </form>
        {% else %}
            <a class="navbar-brand" href={% url 'home' %}>proximity</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class ="nav-link" href={% url 'register' %}>Register</a></li>
                <li class="nav-item"><a class ="nav-link" href={% url 'login' %}>Login</a></li>
            </ul>
        {% endif %}
        </div>
    </nav>
    
    {% block postman_menu %} {% endblock %}
    {% block content %}{% endblock %}
</body>

{% block javascript %}{% endblock %}
