{% extends "pages/base.html" %}

{% block extrahead %}
{% load static %}
<style>
::-webkit-scrollbar { 
        width: 10px;
    }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgray;
    border-radius: 5px;
        
}

::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 10px;
}
.material-icons {
    vertical-align: middle;
}

.productButton {
    display: inline-block;
    height: 240px;
    width: 190px;
    background-color: lightgray;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: 3px 3px 3px #cecece;
    border: 1px solid lightgray;
    margin:0.3em;
    margin-bottom:1.3em;
    
/* Modified and taken from https://github.com/IanLunn/Hover */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.productButton:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.productButton:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.productUpper {
     width:100%; 
     height: 70%; 
     overflow:hidden; 
     border-radius:3px 3px 0 0;
     background-color:black;
     display:flex; 
     align-items:center;
}

.productLower {
     width:100%; 
     height: 30%; 
     background-color:white; 
     color:black;
     border-radius: 0 0 3px 3px;
}

.priceTag {
    z-index:10; 
    position:absolute; 
    background-color:rgba(0, 0, 0, 0.75);
    color:white;
    border-radius:5px;
}

.nobullet {
    list-style-type: none;
}

#uploadProduct {
    animation-duration: 0.5s;
}

body {
    padding:0;
    margin:0;
}

.hvr-icon-grow .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-icon-grow:hover .hvr-icon, .hvr-icon-grow:focus .hvr-icon{
    -webkit-transform: scale(1.2) translateZ(0);
    transform: scale(1.2) translateZ(0);
}
.hvr-icon-grow:active .hvr-icon {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.speech-bubble {
	position: relative;
	background: #E8E8E8;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
    top:0;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: #E8E8E8;
	border-left: 0;
	border-top: 0;
	margin-left: -10px;
}
</style>
{% endblock %}

{% block content %}
<div class="contiainer-fluid" align="center" style="height:95%;">
    <!-- Profile Header -->
    <div class="row mb-2" style="position:absolute; width:100%; height:40%; top:50px; z-index:100">
        <div id="profileHeader" class="mx-auto" style="object-fit:cover; width:100%; height:100%; background-image: linear-gradient(to bottom right, DeepPink, cyan); position:relative">
            <h1 class="text-white display-4" style="position:absolute; bottom:0; left:30%">{{ profile.user.get_full_name }}</h1>
        </div>
    </div>

    <div class="row" style="width:80%">
        <!-- Profile Picture and Message, Follow, and Block Buttons-->
        <div class="col-3" align="center" style="z-index:1025; height:100%; display:flex; align-items:center">
            <div style="width:350px;">
            {% if profile.photo %}
                <img style="border-radius:50%; border:solid 4px white; width:100%;" src="{{profile.photo.url}}" />
            {% endif %}
                <hr class="my-3" style="width:75%" />
                <div>
                    <div style="background-color:rgba(249, 250, 251, 1); border-radius:5px; max-height:150px; overflow:hidden" class="card w-100 p-1 mb-3 border shadow-sm">
                        <h5 class="text-mute">BIO:</h5>
                        <hr style="margin:0; width:90%" />
                        <p class="p-1" style="margin:0px; text-overflow: ellipsis; overflow-y:auto">{{profile.bio}}</p>
                    </div>
                </div>

                <!-- Navigation -->
                <div class="list-group mx-auto" role="tablist">
                    <a class="list-group-item list-group-item-action active w-100" data-toggle="list" role="tab" href="#userPosts">Posts</a>
                    <a class="list-group-item list-group-item-action w-100" data-toggle="list" role="tab" href="#userListings">Listings</a>
                    <a class="list-group-item list-group-item-action w-100" data-toggle="list" role="tab" href="#userEvents">Events</a>
                </div>
            </div>
        </div>

        <div class="col-9 p-3 d-flex align-items-end">
            <div class="tab-content w-100" style="height:50%; overflow:auto;">
                <!--User's Posts-->
                <div class="tab-pane fade show active" id="userPosts" role="tabpanel">
                    <ul class="list-group-flush" style="text-align:left">
                    {% for post in user_posts %}
                        {% include 'pages/post.html' with post=post %}
                    {% endfor %}
                    </ul>
                </div>
                <!--User's Listings-->
                <div class="tab-pane fade" style="padding-top:1em" align="left" id="userListings" role="tabpanel">
                    {% for product in user_listings %}
                    <a style="text-decoration: none;" href="{% url 'listing' product.id %}" class="productButton">
                        <div class="p-1 m-1 priceTag">
                            {% if product.sold %}
                                <b>SOLD</b>
                            {% else %}
                                {% if product.price is not 0 %}
                                    <b>${{ product.price }}</b>
                                {% else %}
                                    <b>FREE</b>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="productUpper">
                            {% if product.photo %}
                                <img style="width:100%;{% if product.sold %} filter:brightness(65%) {% endif %}" src="{{ product.photo.url }}" />
                            {% endif %}
                        </div>
                        <div class="p-2 productLower">
                            <p style="text-overflow: ellipsis; overflow:hidden; white-space: nowrap; margin-bottom:5px;">
                                <b>{{ product.name }}</b>
                            </p>
                            <p class="text-muted" style="font-size:10pt;">
                                {{ product.location }}
                            </p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <!--User's Events-->
                <div class="tab-pane fade w-100" id="userEvents" role="tabpanel">
                    <ul class="list-group list-group-flush">
                    {% for event in user_events %}
                        <li class="list-group-item"><a href="{%url 'events' event.id %}">{{ event.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    <div style="text-align:center;padding-top:10px;padding-bottom:10px;"><h2>{{profile.user.first_name}}&nbsp;{{profile.user.last_name}}</h2></div>
    <div style="text-align:center;padding-bottom:10px;">
        <form action="{% url 'public_profile' profile.user.id %}" method="post"> {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button type="submit" class="{% if message_request %} btn btn-light {% elif pending_approval %} btn btn-warning {% else %} btn btn-success {% endif %}" style="width:100%;box-shadow: 3px 3px 3px #cecece;" name="messageUser" value="{{profile.user.id}}">
                            {% if message_request %} 
                                Message Requested &#x2713; 
                            {% elif pending_approval == True %} 
                                Confirmation Pending 
                            {% elif messagable == True %}
                                Send Message
                            {% else %}
                                Message
                            {% endif %}
                         </button>
                    </div>
                    <div class="col-5">
                       <button type="submit" class="{% if following %} btn btn-light {% else %} btn btn-primary {% endif %}" style="width:100%;box-shadow: 3px 3px 3px #cecece;" name="followUser" value="{{profile.user.id}}">
                            {% if following %} Following &#x2713; {% else %} Follow {% endif %}
                       </button>
                    </div>
                    <div class="col">
                        <button type="submit" class="{% if blocking %} btn btn-danger {% else %} btn btn-primary {% endif %}" style="width:100%;box-shadow: 3px 3px 3px #cecece;" name="blockUser" value="{{profile.user.id}}">
                            {% if blocking %} Blocked &#x2717; {% else %} Block {% endif %}
                        </button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
    <div style="padding-top:20px;" class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-10 col-md-offset-1">
                <div style="background-color:rgba(249, 250, 251, 1);box-shadow: 3px 3px 3px #cecece" padding="0px" class="jumbotron text-center">
                    <h4>About me!</h4>
                    <hr class="my-4" style="width:70%" />
                    <p class="lead">{{profile.bio}}</p>
                    <p class="lead">My hobbies are: {{profile.hobbies}}</p>
                </div>
            </div>
             <div class="col"></div>
        </div>
    </div>
-->

<script>
    var profileHeader = document.getElementById("profileHeader");

    /*Taken from https://stackoverflow.com/a/1484514 to generate random color*/
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function setRandomColor() {
        turnValue = Math.random().toFixed(2);
        color1 = getRandomColor();
        color2 = getRandomColor();
        color3 = getRandomColor();
        profileHeader.style.backgroundImage = "linear-gradient(" + turnValue + "turn, " + color1 +  ", " + color2 + ", " + color3 + ")";
    }

    $(window).on("load", setRandomColor())
</script>
{% endblock %}