{% extends "pages/base.html" %}
{% load leaflet_tags %}

{% block extrahead %}
{% load static %}


<style>
#filters {
    text-align:center;
    height: 120px;
}

.leaflet-container {
    width:  100%;
    height: 100%;
    border-radius:5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}
</style>

<link rel="stylesheet" type="text/css" href="{% static 'pages/css/profile_button.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'pages/css/hover.css' %}">

{% leaflet_js %}
{% leaflet_css %}

{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="p-2 mb-3 row" id="filters" style="height:15%; display:flex; align-items:center; border-bottom:5px solid lightgray;">
        <div class="col"></div>
        <div class="col-10">
        <h2>Nearby in {{request.user.profile.location}}</h2>
            <div class="nav btn-toolbar justify-content-center">
                <form method="GET">
                    <!-- Filter nearby users by miles -->
                    <span class="input-group">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Hobbies" aria-label="Search" name="hobbies">
                        <span class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
                            <span class="btn input-group-text">Mile</span>
                            <label class="btn btn-secondary">
                                <input type="radio" autocomplete="off" name="milesFilter" value="10">10
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" autocomplete="off" name="milesFilter" value="5">5
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" autocomplete="off" name="milesFilter" value="3">3
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" autocomplete="off" name="milesFilter" value="1">1                        
                            </label>
                        </span>
                
                        <!-- Filter nearby users by age -->
                        <span class="input-group mr-2">
                            <span class="input-group-prepend">
                                <span class="input-group-text">Age</span>
                            </span>
                            <label class="form-control" style="width:150px">
                                <input type="range" min="18" max="100" value="100" class="slider" name="ageFilter" id="ageSlider">
                            </label>
                            <input type="number" min="18" max="100" class="form-control" style="width:60px" id="ageOutput"/>
                        </span>

                        <input type="submit" class="btn btn-primary" value="Submit"/>
                    </span>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row" style="height:80%">
        <div class="col-3-auto pl-3">
            <div class="h-100">
                <div class="card-body h-100" style="overflow-y:scroll;">
                    <form action="{% url 'view_nearby' %}" method="post"> {% csrf_token %}
                    <ul class="list-group list-group-flush" id="profiles">
                    {% for person, distance in people %}
                        <li style="border: none;" class="list-group-item">             
                            <button type="submit" name="viewUser" value="{{person.user.id}}" class="hvr-underline-reveal profileButton">
                                {% if person.photo %}
                                    <img style="border-radius: 50%; width:55px; float:left; margin:2px;" src="{{person.photo.url}}" />
                                {% endif %}
                                <p style="padding-left:15px;margin-bottom:0;float:left;" class="personName">{{person.user.first_name}}&nbsp;{{person.user.last_name}}</p><br>
                                <small class="text-muted" style="padding-left:15px;float:left">{{person.age}} years old</small>
                                <small style="text-align:right;align-self:center;float:right" class="distances text-muted ">{{ distance }}mi</small>
                            </button>
                            <p class="lat" hidden>{{person.latitude}}</p>
                            <p class="long" hidden>{{person.longitude}}</p>
                            <p class="userIDs" hidden>{% url 'public_profile' person.user.id %}</p>
                            <p class="profileURLs" hidden>{{person.photo.url}}</p>
                        </li>
                    {% endfor %}
                    </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            {% leaflet_map "yourmap" callback="map_init_basic"%}
        </div>
    </div>
</div>

<!-- Leaflet map script-->
<script type="text/javascript">
    var greenIcon = L.icon({
        iconUrl: 'media/custom_icons/person_pin.png', // change this?? its kind of ugly
        iconSize:     [48, 48], // size of the icon
        iconAnchor:   [22, 48], // point of the icon which will correspond to marker's location
        popupAnchor:  [2, -40] // point from which the popup should open relative to the iconAnchor
    });

    function map_init_basic(map, options) {
        var youMarker = L.marker([{{ user.profile.latitude }},{{ user.profile.longitude }}], {
                        icon: greenIcon,
                        riseOnHover: 'True', 
                        title: 'it\'s u dawg',
                        autoPan: 'True',
                        zIndexOffset:'1024',
        }).addTo(map).bindPopup("<b>That's you!</b>");

        map.setView([{{ user.profile.latitude }}, {{ user.profile.longitude }}], 11);

        circle = L.circle([{{ user.profile.latitude }}, {{ user.profile.longitude }}], {
                fillColor: 'blue',
                fillOpacity: 0.1,
                radius: {{ radius }}*1609.344
        }).addTo(map);

        map.fitBounds(circle.getBounds())

        lats = document.getElementsByClassName("lat");
        longs = document.getElementsByClassName("long");
        names = document.getElementsByClassName("personName");
        ids = document.getElementsByClassName("userIDs")
        photos = document.getElementsByClassName("profileURLs")

        var popUpOptions = {
          'minWidth': '100',
        }

        for (i = 0; i < lats.length; i++) {
            lat = lats[i].innerHTML;
            long = longs[i].innerHTML;
            name = names[i].innerHTML;
            id = ids[i].innerHTML
            picURL = photos[i].innerHTML;
            
            L.marker([parseFloat(lat), parseFloat(long)], {riseOnHover:'True'})
             .addTo(map)
             .bindPopup(
                 "<img style=\"border-radius: 50%; width:35px; margin:3px;\" src =\"" + picURL + "\">" + 
                 "<a href=\"" + id + "\"><b>"+name.toString()+"</b></a>",
                 popUpOptions
               ); 
        }
    }
</script>

<!-- Script for making age text input match age slider input -->
<script>
    var slider = document.getElementById("ageSlider");
    var output = document.getElementById("ageOutput");
    output.value = slider.value;

    slider.oninput = function() {
        output.value = this.value;
    }

    output.oninput = function () {
        slider.value = this.value;
    }
</script>
{% endblock %}
