{% extends "pages/base.html" %}

{% block content %}
    <!-- Forgot Username Display -->
    <div class="mx-auto flex-shrink-0 p-2" style="width:450px">
        <div style="text-align:center;">
            <h2>Forgot Your Username?</h2>
            <p>Please enter your email address</p>
        
        {% if form.errors %}
            <!-- For printing out error messages -->
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert" style="display:inline-block; font-weight:bold"> {{ error }} </div>
                    <br />
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert" style="display:inline-block; font-weight:bold"> {{ error }} </div>
                <br />
            {% endfor %}
        {% else %}
            <!-- For confirmation message -->
            {% if confirm %}
                <div class="alert alert-success" role="alert" style="display:inline-block">{{ confirmation_message }}</div>
                <br />
            {% endif %}
        {% endif %}
        </div>
     </div>
     <div class="mx-auto flex-shrink-0 p-2" style="width:300px">
        <!-- Creates a field for email submission -->
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    Email:<br>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary my-3">
            </form>
    </div>
{% endblock %}
