{% extends "pages/base.html"%}

{% block content %}
    <!-- Login page display -->
    <div class="mx-auto flex-shrink-0 p-2" style="width:450px">
        <div style="text-align:center;">
            <h2>Log In</h2>
            <p>Checkout your proximity.</p>

            <!-- For printing out error messages -->
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert" style="display:inline-block; font-weight:bold"> {{ error }} </div>
                        <br />
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert" style="display:inline-block; font-weight:bold"> {{ error }} </div>
                    <br />
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="mx-auto flex-shrink-0 p-2" style="width:330px">
        <div class="card p-4 shadow-sm">
            <form method="post" style="margin-bottom:0;">
                {% csrf_token %}
                <div class="form-group">
                Username:<br>
                <input type="text" name="username" class="form-control" required>
                <small class="form-text text-muted">
                    <a href={% url 'forgot_username' %} class="text-muted" role="button">Forgot Username</a><br>
                </small>
                </div>
                <div class="form-group">
                Password:<br>
                <input type="password" name="password" class="form-control" required>
                <small class="form-text text-muted">
                    <a href={% url 'password_reset' %} class="text-muted" role="button">Forgot Password</a><br>
                </small>
                </div>
                <input type="submit" value="Log in" class="btn btn-block btn-primary">
            </form>
        </div>
        <div class="card p-2 my-3 shadow-sm">
            <small class="form-text text-muted text-center">
                Don't have an account? <a href={% url 'register' %} role="button">Sign up.</a><br>
            </small>
        </div>
    </div>
{% endblock %}
